body {
    background-image: url("baggrund.jpg");
    background-size: 100%;
    background-color: #FFFAF3;
    background-repeat: no-repeat;
}


.menu {
    background-color: transparent;
    float: right;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    padding-top: 17px;
}

a {
    text-align: center;
    color: #AFA5C6;
    text-decoration: none;
    margin: 23px;
}

a:hover {
    text-decoration-color: #EFB4BA;
    border-bottom-style: solid;
    border-bottom-color: #EFB4BA;
}
  
.activemenu {
    color: #EFB4BA;
    font-weight: bold;
}

.welcome {
    display: grid;
    padding-top: 340px;
    margin-left: 751px;
    margin-bottom: 370px;
}




.abouthome {  
    width: 1250px;
    height: 630px;
    float: left;
    background-color: rgb(202, 193, 220,0.75);
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 130px;
}

.hello {
    float: right;
    color: #EFB4BA;
    font-family: 'Trebuchet MS';
    font-size: 40px;
    margin-top: -36px;
    margin-right: -20px;
}

.me1 {
    float: left;
    height: 800px;
    margin-left: -100px;
    margin-top: -112px;
}